<%- include('../partition/header.ejs')%>
    <section class="banner shadow-lg"></section>
    <section>
        <div class="container">
            <h1 class="text-center mt-5">Register To Our Course</h1>
            <div class="text-center mt-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus aspernatur
                ducimus ratione laudantium quae exercitationem perspiciatis fugiat repellendus, eum accusantium iure
                reiciendis rem labore nam similique aliquid aperiam ad quos.</div>
            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="card shadow-lg">
                        <img src="assets/img/btech.jfif" class="card-img-top" alt="">
                        <div class="card-body">
                            <h3 class="card-title">B.tech</h3>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, neque
                                sapiente. Earum ea aliquam necessitatibus veritatis ducimus ratione voluptatum officiis
                                doloremque maiores. Molestiae, fuga consequuntur? Magni necessitatibus esse distinctio
                                voluptate?</p>
                            <a href="/registration" class="btn btn-primary">Register</a>
                            <a href="/display" class="btn btn-primary">Display</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow-lg">
                        <img src="assets/img/mtech.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h3 class="card-title">M.tech</h3>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, neque
                                sapiente. Earum ea aliquam necessitatibus veritatis ducimus ratione voluptatum officiis
                                doloremque maiores. Molestiae, fuga consequuntur? Magni necessitatibus esse distinctio
                                voluptate?</p>
                            <a href="/registration" class="btn btn-primary">Register</a>
                            <a href="/display" class="btn btn-primary">Display</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow-lg">
                        <img src="assets/img/bsc.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h3 class="card-title">Bsc</h3>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, neque
                                sapiente. Earum ea aliquam necessitatibus veritatis ducimus ratione voluptatum officiis
                                doloremque maiores. Molestiae, fuga consequuntur? Magni necessitatibus esse distinctio
                                voluptate?</p>
                            <a href="/registration" class="btn btn-primary">Register</a>
                            <a href="/display" class="btn btn-primary">Display</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../partition/footer.ejs')%>